BOOTSTRAPMIRROR="https://mirror.archlinux.no/iso/latest"

BUILDDIRECTORY="/var/lib/repo"

CONFIGDIR="/etc/devtools-repro"

DIFFOSCOPE="diffoscope"

HOSTMIRROR="http://mirror.neuf.no/archlinux/\$repo/os/\$arch"

IMGDIRECTORY="/tmp/arch_img"
